{% extends "shop/base.html" %}

{% block title %}ArtHub - Login{% endblock %}

{% block content %}
{% if form.errors %}
<p>
  Your username and password didn't match.
</p>
{% comment %}
{% else %}
<p>Please, use the following form to log-in. If you don't have an account <a href="{% url "register" %}">register here</a></p>
{% endcomment %}
{% endif %}

<div class="login-container">
  <div class="slogon">
    <h4>Hello Again !</h4>
    <h6>Welcome back You've <br/>
      been missed !
    </h6> 
  </div>
  <div class="form-container">
    <form method="post" id="" action="{% url "login" %}">
      {{ form.as_p }}
      {% csrf_token %}
      <a href="{% url "password_reset" %}">Recovery Password</a>
      <input type="hidden" name="next" value="{{ next }}" />
      <input type="submit" value="Sign In">
	
        <hr>
          <span class="text-center">Or Login With</span>
          <hr>
            <div class="loginwith">
              <div class="same google">
                <a href="#">
                  <i class="fa-brands fa-google"></i>
                </a>
              </div>
              <div class="same facebook">
                <a href="#">
                  <i class="fa-brands fa-facebook"></i>
                </a>
              </div>
            </div>
            <div class="not-register">
              <span>Not a member ? <a href="{% url "register" %}">Register Now .</a></span>
            </div>
          </form>
        </div>
      </div>
{% endblock %}
