{% extends "shop/base.html" %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="product-detail">
  <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="" />
  <h1>{{ product.name }}</h1>
  <h2>
    <a href="{{ product.category.get_absolute_url }}">
      {{ product.category }}
    </a>
  </h2>
  <p class="price">${{ product.price }}</p>
  <form method="post" id="" action="{% url "cart:cart_add" product.id %}">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" name="" value="Add to cart" />
  </form>
  <p class="price">{{ product.creator }}</p>
  {{ product.description|linebreaks }}
</div>
{% endblock %}
